body {
padding-top: 50px;
}

.strong {
font-weight: bold;
}

.label-popular {
    margin-top: -3px;
}

.label-sm {
    font-size: 10px;
}

.fa-panel {
color: rgba(0,0,0,0.4);
padding: 2px 2px 2px 2px;
}
.fa-icon-lg {
font-size: 60px;
}

.no-top-margin {
margin-top: 0px !important;
}
.go-down {
padding-top: 20px;
}

.padding-down {
padding-bottom: 40px;
}

.padding-bottom-30 {
padding-bottom: 30px;
}

.sbucks-header {
width: 100%;
position: relative;
padding: 30px 0;
    padding-top: 30px;
    padding-bottom: 30px;
color: #E0FFF8;
text-align: center;
text-shadow: 0 1px 0 rgba(0,0,0,.1);
background-color: #2DA38C;
background-image: -webkit-gradient(linear,left top,left bottom,from(#23A087),to(#2DBE8C));
background-image: -webkit-linear-gradient(top,#23A087 0,#2DBE8C 100%);
background-image: -o-linear-gradient(top,#23A087 0,#2DBE8C 100%);
background-image: linear-gradient(to bottom,#23A087 0,#2DBE8C 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23A087', endColorstr='#2DBE8C', GradientType=0);
background-repeat: repeat-x;
}

.ssignup-header {
width: 100%;
position: relative;
padding: 30px 0;

color: #f0f0f0;
text-align: center;
text-shadow: 0 1px 0 #000;
background-color: #111;
background-repeat: repeat-x;
}

.pull-down-container {
padding-top: 60px;
clear: both;
}

.media:nth-child(even) {
background: #f0f0f0;
}

.media-body h4 {
margin-top: 5px;
}

ul.service_stats {
margin-left: -48px;
margin-top: 10px;
}

ul.service_stats li {
float: left;
list-style: none;
padding-left: 8px;
padding-right: 8px;
}

.order-now {
float: right;
position: relative;
margin-top: -20px;
margin-left: 300px;
margin-right: 6px;
display: inline-block;
}

img.media-object {
width: 60px;
height: 60px;
-webkit-border-radius: 60px;
-moz-border-radius: 60px;
border-radius: 60px;
padding: 4px;
}

.thumbnail {
width: 100%;
padding: 0px;
}
.thumbnail {
display: block;
padding: 4px;
margin-bottom: 20px;
line-height: 1.42857;
background-color: #FFF;
border: 1px solid #DDD;
border-radius: 4px;
transition: all 0.2s ease-in-out 0s;
}

.clear {clear:both;}

.row-centered {
text-align:center;
}
.col-centered {
display:inline-block;
float:none;
/* reset the text-align */
text-align:left;
/* inline-block space fix */
margin-right:0px;
}

iframe {
display: block;
border: 0px none;
outline: 0px none;
}
textarea, iframe {
box-sizing: border-box;
}

.label-points {
font-size:12pt;
}

.col-md-3 > .panel {
margin: 40px 0px 20px;
}

.points-balance {
font-family: "Arial", sans-serif;
font-size: 14pt;
font-weight: bold;
text-align: center;
}

.unordered-list {
 list-style: none;
}

.footer {
position: relative;
top: 20px !important;
bottom: 0px;
width: 100%;
height: 100%;
background-color: #FFFFFF;
margin: 0em 0;
padding: 10px;
}

.footer-links {
    margin:2em 0;
}

.footer-links a {
     margin-right:1.5em;
     margin-bottom:1.5em;
         float:left !important;

}

.footer-copyright p {
    position: relative;
    padding: 20px 8px 8px 8px;
    text-align:center;
    clear: left;
}
hr.sep { overflow: visible; /* For IE */ padding: 0; border: none; color: #333; text-align: center; }

hr.sep:after { content: "or"; display: inline-block; position: relative; top: -0.7em; font-size: 1.5em; padding: 0 0.25em; background: none; }