html body{width:100%;height:100%;min-width:800px;padding:0px;margin:0px;overflow:hidden;background-color:transparent;}


#countOutcome {
display: block;
margin-top: 4px !important;
margin-left: 4px !important;
padding:0 !important;
position: fixed;
z-index: 99999;
}